<!DOCTYPE html> 
<html lang = "em">
    <head>
    <link rel="stylesheet" href="../static/styles/style.css">
        <meta charset ="UEF-8">
        <meta name="viewport" content="width = device-width, initial-scale=1.0">
        <meta name ="discription" content="reliable logistics & removal seriveces across the uk,fast ,safe and affordable">
        <title>BIGSHOW'S INTEGRATED LOGISTIC</title>
    </head>
    <body>
    <header class="navbar">
        <h1 class ="logo">BIGSHOW'S INTEGRATED LOGISTIC</h1>
        <nav>
            <ul>
                <a href="#Home">Home</a>
                <a href="#aboutus">About us</a>
                <a href="#services"> services</a>
                <a href="#why">WHY BIGSHOW</a>
                <a href="#contact">contact us 📞 [+447508158491]</a>
            </ul>
        </nav>
    </header>
    <section id="Home" class="hero">
        <div class="about-container">
            <h2>**************</h2>
            <h2> Reliable logistics & removal services accross the UK</h2>
            <p class = "su" > Moving  homes ,office,and goods,safely and efficiently </p>
            <p>safe. fast. reliable</p>
            <a href="#contact" class="btn">Get a free quote</a>
            <a href="tel:+447881176002" class="btn">call now!!!</a>
        </div>
    </section>
    <section id="aboutus" class="about">
        <h2>About us</h2>
        <p> BIGSHOW Integrated Logistics Ltd provides professional removal,
            relocation, and logistics services across the UK. We are committed
            to safe, reliable, and affordable transportation solutions.
        Our team is fully trained and focused on delivering stress-free
            moving experiences for homes and businesses</p>
    </section>
    <section id="services" class="services">
        <h2 class="it"> Our services </h2>
        <div class="services-grid">
            <div class="card">
                <h3>🚛 house removals</h3>
                <p>safe and efficient home moving service</p> 
            </div>
            <div class="card">
                <h3>🏢 office relocation</h3>
                <p>professional moving solutions.</p>
            </div>
            <div class="card">
                <h3>📦packing and unpacking</h3>
                <p>carefully pancking and protecting item </p>
            </div>
            <div class="card">
                <h3>🏞️nation-wide deliveries </h3>
                <p>fast delivery across the uk</p>
            </div>
            <div class="card">
                <h3>🌍international shipping</h3>
                <p>reliable global logistic service</p>
            </div>
            <div class="card">
                <h3>🏪storage solution</h3>
                <p></p>
            </div>
        </div>
    </section>
    <section id="why" class="why">
        <h2>Why bigshow logistic</h2>
        <div class="why-grid">
            <div class="why-card">
                <h3> 🛡️Fully insured</h3>
                <p>your belonging are protected at every step of the way </p>
            </div>
            <div class="why-card">
                <h3>👷‍♂️Professional team</h3>
                <p>experience staff trained for safe and efficient moves</p>
            </div>
            <div class="why-card">
                <h3>💷 Affordable price</h3>
                <p>plus high quality service</p>
            </div>
            <div class="why-card">
                <h3>⚡Fast & reliable</h3>
                <p> we complaete the job on time</p>
            </div>
            <div class="why-card">
                <h3>📞24hr support</h3>
                <p> We are always available when you need us </p>
            </div>
        </div>

    </section>
    <section id="contact" class="contact">
        <h2>GET YOUR FREE QUOTE TODAY</h2>
        <p>fill in the form below and we w'll get back to you quickly</p>
        <form action="https://formspree.io/f/xqeonlyw" method="post">
            <input type="text" name="mr/mrs" placeholder="mr/mrs:" required>
            <input type="text" name="name" placeholder="Your name:" required>
            <input type="email"name="email" placeholder="Your E-mail:" required>
            <input type="tel" name="phone"placeholder="Your phone number:" required>
            <textarea name="message" placeholder="discribe what you need to move, pickup location,destination and moving date:" required></textarea>
            <button type="submit"> send request</button>
        </form>
    </section>
    </body>
</html>